/* ------------------------------------------------------ADMIN CONTAINER STYLE STARTS HERE------------------------------------------------------ */

/*-------------------------------------------------------------
----------------- Overall Styling starts here------------------
---------------------------------------------------------------  */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  /* color */
  --bg: #f1f1f1;
  --main-color: #eb3f88;
  --black: #000;
  --white: #fff;
  --red: #ff1200;
  --green: #159538;
  --light-color: #666;

  /* border */
  --border: 0.1rem solid var(--light-color);
  --red-border: 0.1rem solid var(--red);
  --green-border: 0.1rem solid var(--green);
  --main-border: 0.1rem solid var(--main-color);
  --i-border: 0.1rem solid transparent;

  /* Shadow */
  --box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.1);
  --text-shadow: 0.1rem 0.1rem 0.1rem var(--main-color);
  --text-shadow-black: 0 1px 5px rgba(0, 0, 0, 0.3);
  --text-shadow-icon: 0 0 3px #000;
  --overlay-bg: linear-gradient(#171717b9 0%, #171717b9 100%);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

#sidebar::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Overall styling ends here  */

/*-------------------------------------------------------------
--------------- Header section starts here-------------
---------------------------------------------------------------  */

header {
  padding: 0.8rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  background-color: var(--bg);
  border-bottom: var(--main-border);
}

header .header-logo {
  transition: 0.6s;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

header .header-name {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin-left: 0.1rem;
  color: var(--black);
}

header .header-logo img {
  height: 2.5rem;
  width: 2.5rem;
}

header h1 {
  font-weight: 600;
  font-size: 2.3rem;
  color: var(--main-color);
}

header .header-logout {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: var(--black);
  border: var(--i-border);
  letter-spacing: 0.1rem;
  padding: 0.1rem 1rem;
}

header .header-logout:hover {
  color: var(--main-color);
  border: var(--main-border);
}

header .header-logout img {
  height: 2.6rem;
  width: 2.6rem;
}

/* Header Section ends here */

/*-------------------------------------------------------------
----------------- navigation section starts here---------------
---------------------------------------------------------------  */

#sidebar {
  border-right: var(--main-border);
  background-color: var(--bg);
  height: 89vh;
  width: 15rem;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 10000;
  list-style: none;
  line-height: 3;
}

#sidebar li {
  padding: 0 2rem;
  cursor: pointer;
}

#sidebar li:hover a i,
#sidebar li:hover a {
  color: var(--white);
}

#sidebar li a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar li a i {
  margin-right: 15px;
  color: var(--black);
  font-size: 1.2rem;
}

#sidebar .activated {
  background-color: var(--main-color);
  box-shadow: 0 0px 10px 3px var(--main-color);
}

#sidebar .activated a {
  color: var(--white);
}

#sidebar .activated a i {
  color: var(--white);
}

#sidebar li:hover {
  color: var(--white);
  background-color: var(--main-color);
  box-shadow: 0 0px 10px 3px var(--main-color);
}

/* navigation section ends here  */

/*-------------------------------------------------------------
----------------- Dashboard section starts here---------------
---------------------------------------------------------------  */

.main {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: 16% 84%;
}

.main .main-content {
  background-color: var(--bg);
}

.main .main-content .main-content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.main .main-content .main-content-1 .cards {
  border: var(--main-border);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  height: 5.5rem;
  text-align: center;
  width: 12rem;
  line-height: 1.4;
}

.main .main-content .main-content-1 .cards i {
  font-size: 1.6rem;
  color: var(--main-color);
}

.main .main-content .main-content-1 .cards h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.main .main-content .main-content-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  place-items: center;
}

.main .main-content .main-content-2 .main-items {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 1rem;
  width: 20rem;
  margin: 2rem auto;
  border-top: 0.2rem solid var(--main-color);
  border-left: var(--main-border);
  border-right: var(--main-border);
  border-bottom: var(--main-border);
}

.main .main-content .main-content-2 .main-items h2 {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.main .main-content .main-content-2 .main-items .payables {
  font-size: 1rem;
  border-top: var(--border);
  margin: 0.5rem;
  font-weight: 400;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.main .main-content .main-content-2 .main-items .payables span {
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.main .main-content .main-content-2 .main-items .items {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main .main-content .main-content-2 .main-items .items i {
  border: var(--border);
  padding: 1rem;
  width: 3rem;
  text-shadow: var(--text-shadow-black);
  font-size: 1.7rem;
  color: var(--main-color);
}

/* Overall common Section ends here */

.list-table {
  border-collapse: collapse;
  margin: 1rem auto;
  font-size: 14px;
  width: 80%;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--box-shadow);
}

.list-table thead tr {
  color: var(--white);
  background: var(--main-color);
  text-align: left;
}

.list-table th,
.list-table td {
  padding: 12px 15px;
}

.list-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.list-table tbody tr:last-of-type {
  border-bottom: var(--main-border);
}

.list-table tbody tr td .fa-trash-alt {
  border: var(--red-border);
  color: var(--red);
  padding: .3rem;
  border-radius: .2rem;
  margin-left: .5rem;
  cursor: pointer;
  font-size: 1rem;
}

.list-table tbody tr td .fa-trash-alt:hover {
  background-color: var(--red);
  color: var(--white);
}

.list-table tbody tr td .fa-edit:hover {
  background-color: var(--green);
  color: var(--white);
}

.list-table tbody tr td .fa-edit {
  border: var(--green-border);
  color: var(--green);
  padding: .2rem;
  border-radius: .2rem;
  margin-left: .1rem;
  cursor: pointer;
}
